<ion-header>
  <ion-toolbar>
    <ion-title>Sobre nós</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>Sobre nós</h2>
    
    <div class="profile">
      <div class="photo">
        <img src="assets/img/jao.png" alt="Pessoa 1">
      </div>
      <p>Aluno: João Pedro Costa de Jesus</p>
      <p>Turma: ADS0301M</p>
    </div>

    <div class="profile">
      <div class="photo">
        <img src="assets/img/rober.png" alt="Pessoa 2">
      </div>
      <p>Aluno: Robert dos Santos Corrêa</p>
      <p>Turma: ADS0301M</p>
    </div>

    <ion-button expand="block" color="danger" routerLink="/home">Home</ion-button>
  </div>
</ion-content>
